APP_ENV=development
APP_URL=http://localhost:8000

POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://user:pass@localhost:5432/database

SECRET_KEY=f5053ef7cf79d5b62a36084c40e581635a58c0af904aa0afdcf6679019a4392e
DEBUG=True

MODEL_PATH=ml/model/isolation_forest.pkl
MODEL_PRIVACY_DETECTION_PATH=ml/privacy-detection-model/all/weights/best.onnx