APP_ENV=development
APP_URL=http://localhost:8000

POSTGRES_USER=postgresuser
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=

SECRET_KEY=
DEBUG=

ML_MODEL_MODEL_PATH=
ML_SCALER_PATH=
ML_METRICS_PATH=

MODEL_PRIVACY_DETECTION_KTP_PATH=
MODEL_PRIVACY_DETECTION_PLAT_NOMOR_PATH=
MODEL_PRIVACY_DETECTION_QR_CODE_PATH=
MODEL_PRIVACY_DETECTION_STRUK_PATH=

ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000